/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Gradient border */
.border-gradient {
  border-image: linear-gradient(140deg, #6d6d6d, #191a1c) 0.5;
}
.animate-in {
  animation-delay: calc(var(--index) * 130ms);
}

.usp-item-hover {
  background: linear-gradient(to bottom, #ffffff, #f2f2f2);
}
