/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color for the whole app  */
@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255; */
    --background-start-rgb: 9, 10, 11;
    --background-via-rgb: 21, 23, 26;
    --background-end-rgb: 22, 24, 26;
  }
}

body {
  color: rgb(var(--foreground-end-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-start-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Remove focus on text area and input fields */
textarea:focus,
input:focus {
  outline: 1px solid #6d6d6d;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-in {
  animation-name: fadeIn;
  animation-duration: 1s;
}
.animate-in-navbar {
  animation-name: fadeIn;
  animation-duration: 2s;
}

/* Gradient border */
.border-gradient {
  border-image: linear-gradient(140deg, #6d6d6d, #191a1c) 0.5;
}
.animate-in {
  animation-delay: calc(var(--index) * 130ms);
}

.usp-item:hover {
  background: linear-gradient(
    to bottom right,
    rgba(13, 15, 17),
    rgba(6, 7, 6, 0.5),
    rgb(209, 49, 31, 0.5)
  );
}
