/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Main bg gradient color */
html,
body {
  height: 100vh;
}
body {
  background-image: linear-gradient(
    to bottom right,
    #090a0b,
    #15171a,
    #16181a,
    #373c42,
    #353a40
  );
  background-repeat: no-repeat;
}

/* Gradient border */
.border-gradient {
  border-image: linear-gradient(140deg, #6d6d6d, #191a1c) 1;
}
